{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <!-- content start-->

    <section class="py-5 text-center container border">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">SpatioCOM</h1>
                <p class="lead text-muted">Vos Artisans proche de chez vous</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Liste des artisans</a>
                    <a href="#" class="btn btn-secondary my-2">Qui somme-nous ?</a>
                </p>
            </div>
        </div>
    </section>

    <div class="card-design m-4 mt-0 mb-2">
        <div class="card" style="width: 20rem;">
            <img src="https://d18dnr0ekxokj7.cloudfront.net/actualites-marseille/2017/06/artisanat-chambre-metier-paca.jpg"
                 class="card-img-top" alt="image-Card">
            <div class="card-body">
                <h5>L'artisan du coin</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <br>
                <p class="text-center border-bottom border-warning rounded"><small>59000 - LILLE</small></p>
                <a href="#" class="btn btn-outline-warning">voir l'artisan</a>
            </div>
        </div>
    </div>

    <div class="border mt-4">
        <h3 class="text-center">l'annuaire de poche des artisans</h3>
        <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto
            asperiores assumenda at delectus esse eum harum incidunt magni non reiciendis, soluta ut! Aperiam dicta eum
            itaque laboriosam quam rem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus
            accusantium blanditiis consequuntur ea eligendi fuga hic ipsum iste minima, nulla numquam omnis quae quasi
            quisquam ratione rem sint sunt!</p>
    </div>

    <!-- content end-->

    <!-- footer start-->

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2021 Company, Inc</p>
    </footer>

    <!-- footer end -->
{% endblock %}
